/* Estilos generales */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para la lista de tareas */
#tareas-lista {
    list-style-type: none;
    padding: 0;
    width: 50%;
}

#tareas-lista li {
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tareas-lista li:hover {
    background-color: #f0f0f0;
}

/* Estilos para el input de descripción de tarea */
#descripcion-tarea {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Estilos para el botón de agregar tarea */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Estilos para el botón de mostrar todas las tareas */
button[onclick="mostrarTareas"] {
    background-color: #17a2b8;
}

button[onclick="mostrarTareas"]:hover {
    background-color: #138496;
}


